.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.footer ul {
  padding: 0;
  text-transform: capitalize;
}

.footer ul li {
  margin-bottom: 10px;
  cursor: pointer;
}

.footer .social-links img {
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: 0.15s;
}

.footer .social-links img:hover {
  transform: scale(1.05);
  border-color: tomato;
}

.footer-copyright span {
  color: tomato;
  cursor: pointer;
}