.food-item {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 0 10px #00000015;
  overflow: hidden;
  animation: fadeIn 1s;
}

.food-item-img {
  max-width: 100%;
  width: 100%;
}

.food-item-img-container .add {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 35px;
  cursor: pointer;
  border-radius: 50%;
}

.food-item-counter {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
  border-radius: 50px;
  background-color: white;
}
.food-item-counter img{
  width: 30px;
  cursor: pointer;
}

.food-item-info {
  padding: 20px;
}

.food-item-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
  margin-bottom: 10px;
}

.food-item-name p {
  font-size: 20px;
  font-weight: 500;
}

.food-item-name img {
  width: 70px;
}

.food-info-desc {
  color: #808080;
  font-size: 13px;
}

.food-info-price {
  color: tomato;
  font-size: 22px;
  font-weight: 500;
  margin: 10px 0;
}